.group-wWM3zP_M- { color: lightgray; background-color: black; }
.item-3cgIlGYO- { color: lightgray; }
.inner-1xuW-gY4- { background-color: #222222; }
.button-13wlLwhJ- { color: lightgray; }
.button-13wlLwhJ-.isOpened-1939ai3F- { background-color: #222222; }
.button-2gir_Bbb- { color: lightgray; }

.button-88UE6omC- { color: lightgray; }
.button-88UE6omC- { color: lightgray; }

.button-2ioYhFEY-.isInteractive-20uLObIc- { color: lightgray;  }
.button-2ioYhFEY-.isInteractive-20uLObIc-.isOpened-p-Ume5l9- { background-color: #222222; }

.button-13wlLwhJ-.hovered-FUo4RNOC-,
 .feature-no-touch .button-13wlLwhJ-:hover,
  .feature-no-touch .button-13wlLwhJ-:active,
   .feature-touch .button-13wlLwhJ-:active { color: white;}

.button-263WXsg-- .icon-1Y-3MM9F- { color: lightgray; }
.button-263WXsg--.isActive-2mI1-NUL- .icon-1Y-3MM9F- { color: white; }
.button-263WXsg--.isActive-2mI1-NUL- .bg-1kRv1Pf2-{ background-color: black; }

.feature-no-touch .button-263WXsg--.isActive-2mI1-NUL-:hover .bg-1kRv1Pf2-,
 .feature-no-touch .button-263WXsg--.isActive-2mI1-NUL-:active .bg-1kRv1Pf2-,
  .feature-touch .button-263WXsg--.isActive-2mI1-NUL-:active .bg-1kRv1Pf2- { background-color: black; }

.button-263WXsg-- .icon-1Y-3MM9F-.hovered--MYZioUu-,
 .feature-no-touch .button-263WXsg-- .icon-1Y-3MM9F-:hover,
  .feature-no-touch .button-263WXsg-- .icon-1Y-3MM9F-:active,
   .feature-touch .button-263WXsg-- .icon-1Y-3MM9F-:active { color: white; }

.item-3cgIlGYO-.hovered-2g31gdB--,
 .feature-no-touch .item-3cgIlGYO-:hover,
  .feature-no-touch .item-3cgIlGYO-:active,
   .feature-touch .item-3cgIlGYO-:active { color: white; }

.button-88UE6omC-.hovered-3xELmoc6-,
 .feature-no-touch .button-88UE6omC-:hover,
  .feature-no-touch .button-88UE6omC-:active,
   .feature-touch .button-88UE6omC-:active { color: white; }

.button-2ioYhFEY-.isInteractive-20uLObIc-.hovered-3perbaxJ-,
 .feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:hover,
  .feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active,
   .feature-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active { color: white; }

.button-2gir_Bbb-.hovered-C6AkUeyT-,
 .feature-no-touch .button-2gir_Bbb-:hover,
  .feature-no-touch .button-2gir_Bbb-:active,
  .feature-touch .button-2gir_Bbb-:active { color: white; }